---
import Search from "astro-pagefind/components/Search";

import website from "../../website.config";
import BabylonPicture from "../content/tags/Assets/Babylon.jpg";

import Layout from "../components/Layout.astro";
import LeftSidebar from "../components/LeftSidebar.astro";

import { getHomePageStaticPaths } from "../helpers/getProps";

const { props } = getHomePageStaticPaths();

// Change Body background to this:
// background: url(/_astro/Babylon.DS4eENje.jpg);
//     background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), url(/_astro/Babylon.DS4eENje.jpg);
//     background-position: center top;
//     background-repeat: no-repeat;
//     /* background-position: initial; */
//     background-size: cover;
// }

// Change sidebards and search results to cristal effects (backdrops)
---

<Layout  backgroundImage={BabylonPicture} backgroundPosition={{
  x: 25,
  y: 50,
}} scrollable page={props.page}>
  <LeftSidebar website={website} navigation={props.navigation} />
  <article
    class="flex flex-col gap-12 mt-24 rounded-4xl items-center grow-1 justify-center p-3 max-w-full"
  >
    <section class="flex flex-col gap-2 items-center">
      <h1
        class="text-6xl lg:text-8xl font-title text-article-title-foreground dark:text-article-title-foreground-dark"
      >
        {website.title}
      </h1>
      <p
        class="text-3xl font-heading text-paragraph-foreground-dark"
      >
        {website.description}
      </p>
    </section>
    <Search
      id="indexSearch"
      className="pagefind-ui-main-search"
      uiOptions={{ autofocus: true, showImages: false, pageSize: 6 }}
    />
  <!-- <RightSidebar navigation={{...{
    tree,
    backlinks: [],
  }}} /> -->
</Layout>
